<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <a href="https://dwpdigital.blog.gov.uk/" target="_blank">Built by DWP Digital</a>
    </div>
</footer>
