<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-proposition">
            <div class="content">
                <nav id="proposition-menu">
                    <div class="grid-row">
                        <div class="column-third">
                            <div class="banner-dcams">
                                <a href="/" id="logo" class="content"> Address Finder </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>