<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Address Finder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../../static/css/govuk-template.min.css" th:href="@{'css/govuk-template.min.css'}" media="screen"
          rel="stylesheet" type="text/css"/>
    <link href="../../static/css/jquery-ui.min.css" th:href="@{'css/jquery-ui.min.css'}" media="screen" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/bootstrap.min.css" th:href="@{'css/bootstrap.min.css'}" media="screen" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/bootstrap-toggle.min.css" th:href="@{'css/bootstrap-toggle.min.css'}" media="screen"
          rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/style.min.css" th:href="@{'css/style.min.css'}" media="screen" rel="stylesheet"
          type="text/css"/>
    <link href="../../static/css/application.min.css" th:href="@{'css/application.min.css'}" media="screen"
          rel="stylesheet" type="text/css"/>
    <script src="../../static/js/jquery-1.12.4.min.js" th:src="@{'js/jquery-1.12.4.min.js'}"></script>
    <script src="../../static/js/jquery-ui.min.js" th:src="@{'js/jquery-ui.min.js'}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{'js/bootstrap.min.js'}"></script>
    <script src="../../static/js/bootstrap-toggle.min.js" th:src="@{'js/bootstrap-toggle.min.js'}"></script>
    <script src="../../static/js/address-finder.js" th:src="@{'js/address-finder.js'}"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyCEpTFw0K0OZtZKjm_jVcz_OYEgstdl7I0" type="text/javascript"></script>
    <script>
        var BASE_URL = "http://localhost:8099";
    </script>
</head>