<div class="nav-horizontal" xmlns:th="http://www.thymeleaf.org">
    <div class="main-nav-wrapper">
        <ul class="main-nav">
            <li id="nav-search"
                th:class="${activeTab == 'search'}? 'selected' : null">
                <a href="/" th:href="@{/}">Search</a>
            </li>
        </ul>
    </div>
    <div class="external-links-wrapper">
        <ul class="external-links">
            <li class="main-nav-link"><a target="_blank" href="documentation/">Documentation</a></li>
        </ul>
    </div>
</div>
